.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0px 10px; */
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    margin: 0;
}

/* Logo */
.logo img {
    /* height: 1.5rem; */
    width: 100%;
    cursor: pointer;
}


/* Search Bar */
.search-bar {
    flex: 1;
    max-width: 700px;
    /* bigger search bar */
    margin: 0 40px;
    /* keep it centered */
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 6px 14px;
    background: #fff;
    /* margin: 5px; */
}

.loc_search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blue; */
    max-width: 850px;
    padding: 5px;
}

.search-bar .search-icon {
    color: #666;
    margin-right: 8px;
    font-size: 15px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #444;
}

/* Right Section */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Location Dropdown */
.location {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.location-icon {
    color: #6b47dc;
    font-size: 16px;
}

.location span {
    font-size: 14px;
    font-weight: 500;
}

/* Profile */
.profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

